

html {
font-family: 'Poppins', sans-serif;
}

body {
  background-color: hsl(0, 0%, 94%);
}

.frame {
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 60px 20px;
}

/*inputs*/

.inputArea {
  display: flex;
  justify-content: center;
}

.inputBox {
  padding: 12px;
}

.inputBox>label {
  /*typical behaviour overriden?*/
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(0, 1%, 44%);
  display: block;
}

.inputBox>input {
  font-size: 16px;
  font-weight: 800;
  color: hsl(0, 0%, 8%);
  height:40px;
  width:70px;
  border-radius: 3px;
  border-width: 1px;
  padding-left: 15px;
}

.image {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  /*content below offset*/
  margin-bottom: 50px;
}

.image>img {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  /*vertical margin offset*/
  margin-bottom: -30px;
  padding:15px;
}

/*results*/

.resultField {
  display: flex;
  height: 60px;
  font-size: 40px;
  font-weight: 800;
  font-style: italic
}

.dayResult, .monthResult, .yearResult {
  margin: 0;
  color: hsl(259, 100%, 65%);
}

.resultDesc {
  margin: 0;
  color: hsl(0, 0%, 8%);
}


test {
color: hsl(259, 100%, 65%);
color: hsl(0, 100%, 67%);
color: hsl(0, 0%, 100%);
color: hsl(0, 0%, 94%);
color: hsl(0, 0%, 86%);
color: hsl(0, 1%, 44%);
color: hsl(0, 0%, 8%);
}