

html {
font-family: 'Poppins', sans-serif;
}

body {
  background-color: hsl(0, 0%, 94%);
}

.frame {
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 60px 20px;
}

/*inputs*/

.inputArea {
  display: flex;
  justify-content: center;
}

.inputBox {
  padding: 12px;
}

.image {
  height: 180px;

}

.image > img { 
  background-color: aqua;
  border-radius: 50%;
  height: 100%;
}





.inputBox>label {
  /*typical behaviour overriden?*/
  display: block;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: hsl(0, 1%, 44%);
}

.inputBox>input {
  font-size: 20px;
  border-radius: 3px;
  height:40px;
  width:70px;
  border-width: 1px;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
}

/*results*/

.resultField {
  display: flex;
  height: 60px;
  font-size: 40px;
  font-weight: 800;
  font-style: italic
}

.resultDay, .resultMonth, .resultYear {
  margin: 0;
  color: hsl(259, 100%, 65%);
}

.resultDesc {
  margin: 0;
  color: hsl(0, 0%, 8%);
}


test {
color: hsl(259, 100%, 65%);
color: hsl(0, 100%, 67%);
color: hsl(0, 0%, 100%);
color: hsl(0, 0%, 94%);
color: hsl(0, 0%, 86%);
color: hsl(0, 1%, 44%);
color: hsl(0, 0%, 8%);
}