html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(0, 0%, 94%);
}

.frame {
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 60px 20px;
}


/*INPUTS*/
.inputArea {
  display: flex;
  justify-content: center;
}

.inputBox {
  padding: 8px;
}

label {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(0, 1%, 44%);
  display: block;
}

.inputBox > input {
  font-size: 20px;
  font-weight: 800;
  color: hsl(0, 0%, 8%);
  background-color: white;
  height: 40px;
  width: 95px;
  border-radius: 3px;
  border-width: 1px;
  padding-left: 10px;
}


/* TURNING OFF THE SCROLL BUTTON IN INPUT TYPE NUMBER  */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: auto;
  -moz-appearance: textfield;
}


/*BUTTON*/
.image {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  margin-bottom: 50px;
}

button > img {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 15px;
}

.image>button {
  background-color: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: -30px;
  border: 0;
  padding: 0;
}

/*RESULTS*/
.resultField {
  display: flex;
  height: 80px;
  font-size: 60px;
  font-weight: 800;
  font-style: italic;
}

.dayResult,
.monthResult,
.yearResult {
  margin: 0;
  color: hsl(259, 100%, 65%);
}

.resultDesc {
  margin: 0;
  padding-left: 20px;
  color: hsl(0, 0%, 8%);
}


.error { 
  display: flex;
  justify-content: left;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 100%, 67%);
  height: 30px;
  width: 110px;
}

/*ERROR CLASSES*/
.errorStyles > input { 
  border: 1px solid hsl(0, 100%, 67%);
}

.errorStyles > label {
  color: hsl(0, 100%, 67%);
}

@media (pointer: fine) {
  .mouseoverClass > img { 
  background-color: black;
  }
}

/*MEDIA*/
@media (max-width:400px) {
  .error {
      width: 80px;
  }
  .inputBox>input {
    width: 65px;
  }
  .resultField {
    height: 60px;
    font-size: 40px;
  }
}

@media (min-width:550px) {
  .frame {
    padding: 30px;
    width:450px;
    margin-left: auto;
    margin-right: auto;
    }
  .image {
  justify-content: right;
  }
  .inputArea {
  margin-bottom: -30px;
  justify-content: left;
  }
}

.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: hsl(0, 0%, 100%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}